.Navbar {
  background: rgb(216, 61, 61);
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.Navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
}
.Navbar a.Navbar-active {
  color: white;
}
